/* Desktop */

:root {
    --primary-color: #004a99;
    --secondary-color: #000000;
    --background-color: #FFFFFF;
    --text-color: #333333;
    --font-family: "Spline Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 1.5;
    color: var(--text-color);
}

/* Header and Footer */

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--background-color);
}

header {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--text-color);
}

header img {
    max-width: 100px;
    height: auto;
}

footer img {
    max-width: 48px;
    height: auto;
}

.title {
    display: flex;
}

/* Navigation */

#menu {
    display: none;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.navigation {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0 auto;
    color: var(--secondary-color);
}

.navigation li {
    display: block;
    flex: 100%;
}

.navigation a {
    text-align: center;
    text-decoration: none;
    color: var(--background-color);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: var(--text-color);
}

/* Hero */

.hero {
    text-align: center;
    position: relative;
}

.hero img {
    max-width: 100%;
}

main {
    padding: 20px;
}

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

.cta a {
    position: relative;
    text-decoration: none;
    font-size: 40px;
    color: var(--background-color);
    padding: 5px;
}

/* Main */

section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

section>div {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
}

h3 {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--background-color);
}

/* Events */

.events #eventcards {
    display: grid;
    gap: 10px;
    padding: 10px;
}

#weatherinfo {
    padding: 10px;
}

/* Mobile */

@media (max-width: 640px) {
    .section {
        flex-direction: column;
    }

    .section div {
        margin: 10px 0;
    }

    /* Navigation */
    #menu {
        display: block;
    }

    #menu::before {
        content: "≡";
    }

    #menu.show::before {
        content: "X";
    }

    .navigation {
        display: block;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        text-align: center;
        background-color: var(--secondary-color);
        padding: 5px;
    }

    .show li {
        display: block;
    }
}