/* Desktop */

:root {
    --primary-color: #004a99;
    --secondary-color: #000000;
    --background-color: #FFFFFF;
    --text-color: #333333;
    --font-family: "Spline Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: flex;
    background-color: var(--primary-color);
    color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    max-width: 50px;
}

header .theme-toggle {
    border: none;
    background: none;
    cursor: pointer;
}

.title {
    display: flex;
}

/* Navigation */

#menu {
    display: none;
}

nav {
    display: flex;
    gap: 15px;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: var(--quaternary-color);
}

.show li {
    display: block;
}

/* Main */

.hero {
    text-align: center;
}

.hero button {
    background-color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

main {
    padding: 20px;
}

.members, .section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.members div, .section div {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
}

h3 {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--background-color);
}

/* Footer */

footer {
    display: flex;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    gap: 10px;
}

footer a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}

footer img {
    max-width: 48px;
    max-height: auto;
}

/* Mobile */

@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .section div {
        margin: 10px 0;
    }

    /* Navigation */

    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
    }

    #menu::before {
        content: "≡";
    }

    #menu.show::before {
        content: "X";
    }

    nav {
        background-color: var(--secondary-color);
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        color: var(--secondary-color);
    }
}