#members {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#members {
    gap: 10px;
    padding: 20px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

#members section {
    display: grid;
    margin: 0 10px;
    border: 1px solid var(--text-color);
    padding: 10px;
    text-align: center;
}

#members section div {
    display: flex;
    text-align: left;
}

#members img {
    width: 100px;
    height: auto;
}

#level1 {
    background-color: burlywood;
}

#level2 {
    background-color: silver;
}

#level3 {
    background-color: gold;
}