#members {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#members div {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
}

#members {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: start;
}

#members section {
    padding: 10px;
}

#members img {
    max-width: 100px;
    height: auto;
}

#level1 {
    background-color: burlywood;
}

#level2 {
    background-color: silver;
}

#level3 {
    background-color: gold;
}