:root {
    --level1-color: burlywood;
    --level2-color: silver;
    --level3-color: gold;
}

#members {
    display: flex;
    gap: 10px;
    padding: 20px 20px 0px;
    flex-wrap: wrap;
    justify-content: center;
}

#members section {
    display: grid;
    border: 1px solid var(--text-color);
    padding: 10px;
    text-align: center;
}

#members img {
    width: 100px;
    height: auto;
}

#level1 {
    background-color: var(--level1-color);
}

#level2 {
    background-color: var(--level2-color);
}

#level3 {
    background-color: var(--level3-color);
}