:root {
    --primary-color: yellow;
    --secondary-color: red;
    --background-color: #9dd3ff;
    --text-color: black;
}

body {
    font-family: Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    ;
    margin: 20px;
    padding: 20px;
}

h1,
h2 {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
    font-weight: bold;
}

.secondary {
    color: var(--secondary-color);
    font-weight: bold;
}

.background {
    color: var(--background-color);
    background-color: black;
    font-weight: bold;
    padding: 1px;
}

.text {
    color: var(--text-color);
    font-weight: bold;
}


@media screen and (max-width: 320px) {}