@media screen and (max-width: 320px) {
    #menu {
        display: block;
        padding: 15px;
        font-size: 1.5em;
        text-decoration: none;
        background-color: var(--secondary-color);
        color: var(--text-color);
    }

    #menu::before {
        content: "=";
    }

    #menu.show::before {
        content: "X";
    }

    .navigation {
        display: none;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--text-color);
        min-width: 88%;
    }

    .navigation.show {
        display: block;
    }

    .navigation li a {
        display: block;
        padding: 1rem;
        background-color: var(--secondary-color);
        border-bottom: 1px solid var(--text-color);
        color: var(--text-color);
    }

    .navigation a:hover,
    .navigation a:active {
        transition: 0.5s;
        color: var(--primary-color);
    }

    #songs,
    #artists {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .artist-card {
        padding: 1rem;
        max-width: 280px;
    }

    .nav-container,
    .sub-nav-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav-container a,
    .sub-nav-container a {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .song-card {
        padding: 1rem;
        max-width: 280px;
        height: auto;
    }

    iframe {
        width: 280px;
        height: auto;
    }

    .featured-songs,
    .featured-artists {
        margin: 15px;
    }

    .featured-songs h2,
    .featured-artists h2 {
        font-size: 1.5rem;
    }

    .song-form {
        padding: 1rem;
    }
    
    .song-form input,
    .song-form select,
    .song-form textarea {
        padding: 0.6rem;
    }
    
    .primary-button {
        width: 100%;
        padding: 1rem;
    }
}