@media only screen and (min-width: 400px) {

    /* Header adjustments */
    header h1 {
        font-size: 2em;
    }

    /* Navigation Content */

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    /* Main Content */

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1em;
        gap: 5px;
        margin: 0 auto;
        text-align: center;
    }

    section {
        box-shadow: 0 2px 5px var(--quaternary-color);
        border: 1px solid var(--secondary-color);
        border-radius: 0.5rem;
    }

    section:nth-child(3) {
        grid-column: 1 / -1;
    }

    section p {
        text-align: left;
    }

    .complete-course-card h3:hover {
        animation: .5s linear infinite alternate pulsingOut;
    }

    .incomplete-course-card h3:hover {
        animation: .5s linear infinite alternate pulsingIn;
    }

    /* Animations */

    @keyframes pulsingOut {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }

    @keyframes pulsingIn {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.9);
        }
    }

    /* Footer Content */
    footer p {
        margin: 0.5em 0;
    }
}